{% extends 'base.html' %} {% block title %} {{ produto.name }}  {% endblock title %} {% block content %}
    <h2>{{ produto.name }} </h2>
    
    <section class="dados-de-produto">
      <img src="{{ produto.poster_url }}" alt="Poster do produto {{ produto.name}}" />
      <ul>
        <li>Nome: {{ produto.name }}</li>
        <li>Preço: {{ produto.preço }} R$ </li>
        <li>Local: {{produto.Local }}</li>
      </ul>
    </section>
    <hr>

<section>
    <header>
        <h3>Comentários</h2>
    </header>
    <ul>
        {% if produto.review_set.all %}
            {% for review in produto.review_set.all %}
                <figure>
                    <blockquote>
                        {{ review.text }}
                    </blockquote>
                    <figcaption>—{{ review.author }}</figcaption>
                </figure>
            {% endfor %}
        {% else %}
            <p>Ainda não foram feitos Comentários este Produto.</p>
        {% endif %}
    </ul>
    <a href="{% url 'produtos:review' produto.pk %}"><button>Adicione um comentário...</button></a>
</section>

    {% endblock content %}