{% extends 'base.html' %}

{% block title %}
    {{ produto.name }}
{% endblock title %}

{% block content %}
    <h2>{{ produto.name }}</h2>
    
    <section class="dados-de-produto">
        <img src="{{ produto.poster_url }}" alt="Poster do produto {{ produto.name }}" />
        <ul>
            <li><span class="texto-comum">Nome:</span> {{ produto.name }}</li>
            <li><span class="texto-comum">Preço:</span> {{ produto.preço }} R$</li>
            <li><span class="texto-comum">Local:</span> {{ produto.Local }}</li>
        </ul>
    </section>
    <hr>

    <section>
        <header>
            <h3>Comentários</h3>
        </header>
        <ul>
            {% if produto.review_set.all %}
                {% for review in produto.review_set.all %}
                    <figure>
                        <blockquote class="texto-comum">
                            {{ review.text }}
                        </blockquote>
                        <figcaption class="texto-comum">—{{ review.author }}</figcaption>
                    </figure>
                {% endfor %}
            {% else %}
                <p class="texto-comum">Ainda não foram feitos Comentários este Produto.</p>
            {% endif %}
        </ul>
         <a href="{% url 'produtos:review' produto.pk %}"><button>Comentar</button></a>
    </section>

{% endblock content %}
