{% extends 'base.html' %}

{% block title %}
{{ object.name }}
{% endblock title %}

{% block content %}
<h2>{{ object.name }}</h2>

<section>
    <hr>
    <article>
        <div class="lista-de-cards">
            {% for produto in object.produtos.all %}
            <div class="card">
                <a href="{% url 'produtos:detail' produto.id %}">
                    <img src="{{ produto.poster_url }}" alt="Poster do produto {{ produto.name }}">
                </a>
                <p>{{ produto.name }} - {{ produto.preço }} R$</p>
                <p>{{ produto.Local }}</p>
            </div>
            {% endfor %}
        </div>
    </article>
</section>

{% endblock content %}
