{% extends 'base.html' %}

{%block content%}

<form action="{% url 'pesquisa' %}">
    <p>
        <label for="id_query">Nome:</label>
        <input type="text" name="query" id="id_query" />
    </p>
    <button type="submit">Buscar</button>
</form>

{% if lista_de_locais %}
    <h2>Resultados da pesquisa:</h2>
    {% for resultado in lista_de_locais %}
        <img src="{{ resultado.imagem.url }}" alt="{{ resultado.nome }}">
        <li>{{resultado.nome}}</li>
    {% endfor %}
{% else %}
    <p>Nenhum resultado encontrado</p>
{% endif %}

{%endblock content%}
