{% extends 'base.html' %}

{% block content %}
<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    label, input, button {
        margin-bottom: 10px;
    }
</style>

<form action="{% url 'pesquisa' %}">
    <label for="id_query">Nome:</label>
    <input type="text" name="query" id="id_query" placeholder="Pesquisar Local no Hermes" />
    <button type="submit">Buscar</button>
</form>

{% if lista_de_locais %}
    <h2>Resultados da pesquisa:</h2>
    {% for resultado in lista_de_locais %}
        <img src="{{ resultado.imagem.url }}" alt="{{ resultado.nome }}">
        <li>{{ resultado.nome }}</li>
    {% endfor %}
{% endif %}

{% if not lista_de_locais and request.GET.query %}
    <p>Nenhum resultado encontrado</p>
{% endif %}

{% endblock content %}
