:root {
  --primary-color: #000000;
  --secondary-color: #eeba11; /*botões*/
  --tertiary-color: #f44d27;
  --secondary-color-light: #ffeb55; /*botões*/
  --tertiary-color-light: #ff6d28;
  --bg-color: #000000; /*texto*/
  --secondary-bg-color: #050101;
  --color-shadow: #f4f4f4;
  font-size: 16px;
  line-height: 1.5em;
}

* {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #b1b1b1;
  background-color: rgb(255, 175, 4); /* Substitua pela cor desejada */
}

@media (max-width: 768px) {
  header {
      justify-content: center;
      flex-direction: column;
      text-align: center;
  }
}

#logo{
  position: absolute;
  left: 40px;
  top: 19.5px
}

header h1 {
  font-size: 1.5em;
  display: inline-block;
  margin-right: 670px;
}

header ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

header li {
  justify-content: flex-end;
  list-style: none;
  display: inline-block;
  padding: 0 20px;

}

header a {
  text-decoration: none;
  color: #000000;
}

header a:hover {
  color: #ffffff; /*Cor do texto do cabeçalho */
}

h2{
  display: flex;
  justify-content: center;
  padding: 50px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-image: (0deg, transparent, transparent);  
  background-repeat: no-repeat;
}


body,
body * {
  color: var(--bg-color);
}


footer{
  margin-top: auto;
  text-align: center;
}

/* Formulários */

.form_login{
  position: relative;
  z-index: 2;
  display: inline-block;
}

.form-login{
  max-width: 300px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

.form_geral p{
  margin-bottom: 10px;
}

.principal_login{
  text-align: center;
  margin-top: 1px;
  position: relative;
}

/* ---------- */

/* Imagens */

.Hermes_logo{
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  width: 300; 
  height: 300;
}

.USP_logo{
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  width: 350; 
  height: 300;
}


.lista-de-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid var(--secondary-bg-color);
  border-radius: 5px;
  box-shadow: 2px 2px 10px var(--color-shadow);
  margin: 1rem;
  padding: 1.25rem;
  width: 285px;
  background-color: #ffffff;
}

.from_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card_form button {
  margin: 0 auto; 
  display: block; 
}

.card_form {
  border: 1px solid var(--secondary-bg-color);
  border-radius: 5px;
  box-shadow: 2px 2px 10px var(--color-shadow);
  margin: 1rem;
  padding: 1.25rem;
  width: 500px;
  background-color: #ffffff;
}

.small-card {
  border: 1px solid var(--secondary-bg-color);
  border-radius: 5px;
  box-shadow: 2px 2px 10px var(--color-shadow);
  margin: 1rem;
  padding: 1.25rem;
  width: 160px;
  background-color: #ffffff;
}

.card img {
  width: 100%;
}

.small-card img {
  width: 100%;
}

.local-card {
    border: 1px solid var(--secondary-bg-color);
    border-radius: 5px;
    box-shadow: 2px 2px 10px var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: 300px; 
    height: 400px;
    background-color: #ffffff;
    text-align: center; 
}

.local-card img {
    max-width: 100%; 
    height: auto;
}

.card-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.local-card-detail {
    border: 1px solid var(--secondary-bg-color);
    border-radius: 5px;
    box-shadow: 2px 2px 10px var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: 600px; 
    background-color: #ffffff;
    text-align: center; 
}

.local-card-detail img {
    max-width: 100%; 
    height: auto;
}

.container-local-detail {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.dados-de-produto {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 1rem 0;
}

.dados-de-produto img {
  width: 285px;
  box-shadow: 2px 2px 10px var(--color-shadow);
}

.dados-de-produto ul {
  list-style-type: none;
}

input {
  display: block;
  width: 100%;
  max-width: 560px;
  border: 2px solid var(--secondary-bg-color);
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem;
}

button {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  color: var(--bg-color);
  border-radius: 35px;
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  margin: 0.5rem 0.5rem;
  padding: 1rem 2rem;
  width: 150px; /* Defina a largura desejada */
  height: 40px; /* Defina a altura desejada */
  text-align: center; /* Centralizar texto horizontalmente */
  line-height: 10px; /* Igual à altura do botão para centralizar verticalmente */

}

button img {
  width: 40px; 
  height: 40px; 
  margin-right: 5px; 
}

button:hover {
  background-color: var(--secondary-color-light);
  border: 2px solid var(--secondary-color-light);
}

.pagina-busca {
  text-align: center;
}

.pagina-busca h2 {
  margin-bottom: 0;
}

.pagina-busca form {
  display: inline-block;
}

.pagina-busca input {
  width: 500px;
  padding: 8px;
}

.texto-comum { /* Classe que deixa o fundo Branco*/
  background-color: rgb(255, 255, 255); 
  display: inline;
}

.sugere-pesquisa {
    text-align: center;
}

.larger-button {
  width: 200px; 
}

.add_fav_button {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  color: var(--bg-color);
  border-radius: 35px;
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  margin: 0.5rem 0.5rem;
  padding: 1rem 2rem;
  width: 251px; /* Defina a largura desejada */
  height: 40px; /* Defina a altura desejada */
  text-align: center; /* Centralizar texto horizontalmente */
  line-height: 10px; /* Igual à altura do botão para centralizar verticalmente */

}

.add_fav_button:hover {
  background-color: var(--secondary-color-light);
  border: 2px solid var(--secondary-color-light);
}

.config-button {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  color: var(--bg-color);
  border-radius: 35px;
  display: inline-block;
  font-size: medium;
  font-weight: bold;
  margin: 2rem 0.5rem;
  padding: 1rem 2rem;
  width: 251px; /* Defina a largura desejada */
  height: 40px; /* Defina a altura desejada */
  text-align: center; /* Centralizar texto horizontalmente */
  line-height: 10px; /* Igual à altura do botão para centralizar verticalmente */

}

.config-button:hover {
  background-color: var(--secondary-color-light);
  border: 2px solid var(--secondary-color-light);
}

.user-opt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
