<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <style>
        body {
            background-image: url('{% static "fundo.svg" %}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        /* Adicione estilos adicionais conforme necessário */
    </style>
</head>

<body class="fundo">
    <header id="cabecalho-principal">
        <nav id="navegacao-principal">
            <ul> 
                <li><a href="{%url 'home'%}">Home</a></li>
                <li><a href="{%url 'produtos:search'%}">Buscar produtos</a></li>
                <li><a href="{%url 'pesquisa'%}">Busacar locais</a></li>
                <li><a href="{%url 'produtos:last_viewed'%}">Histórico</a></li>
                {% if user.is_authenticated %}
                <a href="{% url 'perfil' %}">
                    <span>Olá, {{user.username}} !</span>
                    <img src="{% static 'profile.png' %}" width="40" height="40">
                </a>    
                {% else %}
                <a href="{% url 'login' %}">
                    <img src="{% static 'profile.png' %}" width="40" height="40">
                </a>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main id="conteiner-principal">
        {% block content %}
        {% endblock content %}
    </main>
    <footer id="rodape-principal">
        <p>
        <small>© 2023 Grupo N</small>
        </p>
    </footer>
</body>

</html>
